@{
    ViewData["Title"] = "Home Page";
    var exModel = ViewBag.exchangeM;
    // 조건 전용 변수
    bool ifGetExchangeModel = (exModel.Dallar != null && exModel.Euro != null && exModel.Yen != null & exModel.Yuan != null);
}


<form method="post" action="/Home/Index" >
    <div>
        <input type="number" id="won" name="won" placeholder="원화를 입력하세요."/>
    </div>
</form>

@if (ifGetExchangeModel)
    {
        <div>
            <h3>달러: @exModel.Dallar</h3>
            <h3>유로: @exModel.Euro</h3>
            <h3>엔화: @exModel.Yen</h3>
            <h3>위안화: @exModel.Yuan</h3>
        </div>
    }

<div class="--bs-success-bg-subtle">
</div>
